<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Modificar Producto</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
<h1>Modificar Producto</h1>
<form action="/adminMovie/modificar/{{producto.id}}" method="POST">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{producto.nombre}}">
    </div>
    <div>
        <label for="img">Imagen:</label>
        <input type="text" id="img" name="img" value="{{producto.img}}">
    </div>
    <div>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion">{{producto.descripcion}}</textarea>
    </div>
    <div>
        <label for="aclamado">Aclamado:</label>
        <input type="checkbox" id="aclamado" name="aclamado" {{#if producto.aclamado}}checked{{/if}}>
    </div>
    <button type="submit">Modificar</button>
</form>

</body>
</html>
