<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Adminisrtrador</title>
</head>

<body>
    <main class="mainUser">
        <h1 class="tituloPrincipal">Área de trabajo de {{ nombre }} {{ apellido }}</h1>
        <nav class="navegacion">
            <ul class="listaNav">
                <li class="listaItem"><a class="linkNav administradorPeliculas" href="/adminMovie">Administrador
                        Películas</a></li>
                <li class="listaItem"><a class="linkNav administradorPeliculas" href="/adminUser">Administrador Usuarios</a>
                </li>
            </ul>
        </nav>
    </main>
</body>

</html>