<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Usuario</title>
</head>

<body>
    <main class="mainUser">
        <img class="imgTendencia" src="{{this.img}}" alt="{{this.nombre}}" loading="lazy">
        <h1 class="tituloPrincipal">Que alegria encontrarnos por acá <br> {{ nombre }} {{ apellido }}</h1>
        <nav class="navegacion">
            <ul class="listaNav">
                <li class="listaItem"><a class="linkNav administradorPeliculas" href="">Ir a mi perfil</a></li>
            </ul>
        </nav>
    </main>



</body>

</html>