<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Usuario</title>
</head>

<body>
    <header>
        <h1>Bienvenido a tu perfil USUARIO</h1>
    </header>
    <main>
        <p>Este es tu perfil.</p>

        <p>EN CONSTRUCCIÓN</p>

    </main>
</body>

</html>